.pull-right
  = link_to new_platillo_path, class: 'btn btn-lg btn-primary' do
    %i.glyphicon.glyphicon-plus
    Nuevo Platillo

%h1
  %i.glyphicon.glyphicon-cutlery
  &nbsp;
  Platillos

%hr

%table.table
  %thead
    %tr
      %th Nombre
      %th Tipo
      %th Descripción
      %th Acciones
      
  %tbody
    - @platillos.each do |platillo|
      %tr
        %td= platillo.nombre
        %td= platillo.tipo
        %td= platillo.descripcion
        %td
          .btn-group
            = link_to platillo, class: 'btn btn-default btn-sm', title: 'Detalles' do
              %i.glyphicon.glyphicon-search
            = link_to edit_platillo_path(platillo), class: 'btn btn-primary btn-sm', title: 'Editar' do
              %i.glyphicon.glyphicon-edit
            = link_to platillo, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm', title: 'Eliminar' do
              %i.glyphicon.glyphicon-trash
