%p#notice= notice

%p
  %b Nombre:
  = @platillo.nombre
%p
  %b Tipo:
  = @platillo.tipo
%p
  %b Descripcion:
  = @platillo.descripcion

= link_to 'Modificar', edit_platillo_path(@platillo), class: 'btn btn-default'
= link_to 'Regresar', platillos_path, class: 'btn btn-danger'
