= simple_form_for(@menu) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nombre
    = f.input :fecha, as: :datepicker

  .row
    - @menu.platillos.each do |platillo|
      = render platillo
    .col-md-4.agregar-platillo.hidden
      .panel.panel-default
        .panel-heading
          Agregar platillo
        .panel-body
          .form-group
            = select_tag :id, options_from_collection_for_select(Platillo.all.order('nombre ASC'), :id, :nombre), class: 'form-control'
          .pull-right
            = link_to 'Agregar platillo', add_platillo_path, class: 'btn btn-default', id: 'agregar-platillo'
            = link_to 'Cancelar', '#', class: 'btn btn-danger', id: 'platillo-cancelar'

    .col-md-4.agregar-platillo
      .panel.panel-default.platillo-add
        .panel-body
          %p
            %i.glyphicon.glyphicon-plus-sign
          %p
            Agregar platillo

  .form-actions.pull-right
    = f.button :submit, 'Guardar menu'
    = link_to 'Cancelar', menus_path, class: 'btn btn-danger'
