= simple_form_for(@menu) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nombre
    = f.input :fecha

    #platillos
      = render @menu.platillos

  .form-actions
    = f.button :submit, 'Guardar menu'
    = link_to 'Cancelar', menus_path, class: 'btn btn-danger'

= form_tag :platillos, id: 'platillos_form' do
  = collection_select :platillo, :id, Platillo.all, :id, :nombre
  = button_tag 'Agregar'

= simple_form_for Platillo.new, remote: true do |f|
  = f.input :nombre
  = f.input :tipo, collection: Platillo.tipos.keys
  = f.input :descripcion
  = f.button :submit, 'Crear y agregar'
