.panel.panel-default
  .panel-heading{ id: "cabecera-menu-#{ menu.id }", role: "tab" }
    %h4.panel-title
      %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#menus", "data-toggle" => "collapse", :href => "#collapse-menu-#{ menu.id }"}
        = l menu.fecha, format: :with_dayname
  .panel-collapse.collapse{ id: "collapse-menu-#{ menu.id }","aria-labelledby" => "cabecera-menu-#{ menu.id }", role: "tabpanel" }
    %ul.list-group
      - menu.platillos.each do |platillo|
        %li.list-group-item= platillo.nombre
