%h2 
  %i.glyphicon.glyphicon-envelope
  &nbsp;
  Enviar menús

%hr

.row
  .col-md-7
    = simple_form_for @envio, url: enviar_menus_path, method: :post do |f|
      = f.input :desde, as: :datepicker
      = f.input :hasta, as: :datepicker
      = f.input :email

      .text-right
        = f.button :submit, 'Enviar menús'

  .col-md-5
    #menus.panel-group{ "aria-multiselectable" => "true", role: "tablist" }
