%h2 
  %i.glyphicon.glyphicon-envelope
  &nbsp;
  Enviar menús

%hr

= simple_form_for @envio, url: enviar_menus_path, method: :post do |f|
  = f.input :desde, as: :datepicker
  = f.input :hasta, as: :datepicker
  = f.input :email

  #menus.row

  = f.button :submit, 'Enviar menús'
