%p#notice= notice

%p
  %b Nombre:
  = @menu.nombre
%p
  %b Fecha:
  = @menu.fecha

%p
  %b Platillos
  %ul
    - @menu.platillos.each do |platillo|
      %li= platillo.nombre

= link_to edit_menu_path(@menu), class: 'btn btn-primary' do
  %i.glyphicon.glyphicon-pencil
  Modificar

= link_to menus_path, class: 'btn btn-default' do
  %i.glyphicon.glyphicon-chevron-left
  Regresar

= link_to @menu, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' do
  %i.glyphicon.glyphicon-trash
  Eliminar
