%p#notice= notice

%p
  %b Nombre:
  = @menu.nombre
%p
  %b Fecha:
  = @menu.fecha

%p
  %b Platillos
  %ul
    - @menu.platillos.each do |platillo|
      %li= platillo.nombre

= link_to 'Modificar', edit_menu_path(@menu), class: 'btn btn-default'
= link_to 'Regresar', menus_path, class: 'btn btn-danger'
