Buen día, hacemos llegar los menús del #{ l @envio.desde.to_date, format: :with_dayname } al #{ l @envio.hasta.to_date, format: :with_dayname }:

- @menus.each do |menu|
  = l menu.fecha, format: :with_dayname
  - menu.platillos.each do |pĺatillo|
    #{ pĺatillo.nombre }: #{ pĺatillo.descripcion }
  \----------------------------------
