!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MenuLite
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Menus-lite', root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{ class: controller_name == 'menus' ? 'active' : '' }
              = link_to menus_path do
                %i.glyphicon.glyphicon-list-alt
                &nbsp;
                Menús
            %li{ class: controller_name == 'platillos' ? 'active' : '' }
              = link_to platillos_path do
                %i.glyphicon.glyphicon-cutlery
                &nbsp;
                Platillos
            %li
              = link_to generar_envio_menus_path do
                %i.glyphicon.glyphicon-print
                &nbsp;
                Imprimir menús
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to logout_path, method: :delete do
                %i.glyphicon.glyphicon-off
                Cerrar sesión

    .container
      .row
        .span12
          = flash_messages

          = yield

      %hr
    
      %footer
        %p &copy; Menus-lite 2015
