!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MenuLite
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-static-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Menus-lite
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{ class: controller_name == 'menus' ? 'active' : '' }
              = link_to 'Menús', menus_path
            %li{ class: controller_name == 'platillos' ? 'active' : '' }
              = link_to 'Platillos', platillos_path
    .container
      .row
        .span12
          = flash_messages

          = yield

      %hr
    
      %footer
        %p &copy; Menus-lite 2015
